.menu_link {
    font-family: $font-family;
    background-color: none;
    color: $color-font-white;
    padding: $padding-base $padding-base*2;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s opacity 0.3s;

    &:hover {
      background-color: $color-dark-gray;
      color: $color-font-white;
      opacity: 0.7;
    }

    &:any-link {
        color: $color-font-white;
        text-decoration: none;
    }
  }
  

  @media screen and (max-width: $breakpoint-lg) {
    .menu_link {
        padding: $padding-base;
    }
  }