@use 'fonts' as *;
@use 'mixins' as mixins;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    color: $color-font-white;
    font-size: $font-size-base;
    font-family: $font-family;
}

body {
    background-color: $color-dark;
}

main {
    height: 0;
    min-height: calc(100vh - #{$footer-height} - #{$header-height});
}